.main{
    display: flex;
    flex-direction: column;
}
.main_form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 300px;
}

.main_form_button{
    width: 4rem;
    height: 1.5rem;
    background-color:darkcyan;
    border: none;
    color: white;
    border-radius: 0.5rem;
}

.main_form_userInput{
    width: 100px;
    background-color: lightgray;
}

.main_form_clue{
    border: solid 3px lightgray;
    padding: 4px;
}

.main_form_try{
    border: solid 3px lightgray;
    padding: 4px;
}